AZURE_SUBSCRIPTION_ID=5db83a35-dcdd-4035-8f02-0eb38e2fd28b
PORT=4100
GITHUB_TOKEN=ghp_your_token_here
GITHUB_OWNER=clementanto87
GITHUB_REPO=iacrepo
GITHUB_WORKFLOW_DEV=deploy-dev.yml
GITHUB_WORKFLOW_PROD=deploy-prod.yml
IAC_MANAGED_TAG=iacManaged
DRIFT_TAG=driftDetected
